*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ================== HEADER ================= */
/* nav btn */
.nav-item:not(:first-child):hover {
    transition: all 0.2s ease-in-out;
    background-color: #DFC580;
    border-radius: 5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}
a{
    text-decoration: none;
    color:black;
}
/* end nav btn */
/* Blog button */
.dropdown-toggle {
    background-color: #DFC580;
    border-radius: 5em;
    padding-left: 1.2em;
    padding-right: 1.2em;
    color: #151111;
}
/* end blog btn */
/* ================== END HEADER ================= */

.communityBanner{
    width: 1000px;
    margin-left:260px;
    border: 1px solid white;
    border-radius: 20px;
    box-shadow: 1px 2px 1px 1px grey;
    margin-top: 30px;
    margin-bottom: 30px;
}
h2{
    font-size: 40px;
    background: -webkit-linear-gradient(rgb(6, 43, 86), rgb(105, 196, 223));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
    margin-left: 45%;
}
.postBox{
    width: 500px;
    height: auto;
    background-color: #eee;
    margin-left: 250px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 1px 1px 1px 1px grey;
    margin-bottom: 10px;
}
.usernameBox{
    padding: 5px;
}
.questionBox{

}
.cmtBox{
    border-top: 1px solid grey;
}
.buttonBox{
    margin-left: 50%;
}

@media screen and (max-width: 1401px) {
    
  }
  @media screen and (max-width: 1201px) {
    

  }
  @media screen and (max-width: 769px) {
    h2{
        width: 100%;
        margin-left: 50px;
    }
    .buttonBox{
        margin-left: 0px;
        width: 100%;
    }
    .imageBanner2{
        margin-left: 0px;
        width: 100%;
    }
    .postBox{
        width: 100%;
        margin-left: 0px;
    }
    .communityBanner{
        width: 100%;
        margin-left: 0px;
    }

  }