*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.communityBanner{
    width: 1000px;
    margin-left:260px;
    border: 1px solid white;
    border-radius: 20px;
    box-shadow: 1px 2px 1px 1px grey;
    margin-top: 30px;
    margin-bottom: 30px;
}
h2{
    font-size: 40px;
    background: -webkit-linear-gradient(rgb(6, 43, 86), rgb(105, 196, 223));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
    margin-left: 45%;
}
.postBox{
    width: 500px;
    height: auto;
    background-color: #eee;
    margin-left: 250px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 1px 1px 1px 1px grey;
    margin-bottom: 10px;
}
.usernameBox{
    padding: 5px;
}
.questionBox{

}
.cmtBox{
    border-top: 1px solid grey;
}
.buttonBox{
    margin-left: 50%;
}