/* .footer-container{
    width: 100%;
  
    background-color: #E5E5E5;
} */

.container.footer-ctn{
    background-color: #2E2100;
    max-width: 100%;
    height: 300px;
}

.bnt-backtotop{
    border: solid 1px black;
    width: 150px;
    height: 52px;
    border-radius: 30px;
    background-color: #FFB900;
    text-align: center;
    cursor: pointer;
    position: relative;
    top: 150px;
    left: 100px;
}

.bnt-backtotop a{
    text-decoration: none;
    color: black;
}

.bnt-backtotop:hover{
    text-decoration: none;
    color: black;
    transform: scale(1.2);
    transition: all 1s;
}

.bnt-backtotop h5{
    line-height: 45px;
}
.col.mb-3{
    color: #FFFFFF;
    width: 15%;
   
}
.col.mb-3 h5{
    color: #FFFFFF;
    font-weight: 600px;
    font-size: 16px;
    line-height: 28px;
}

.nav-link.p-0{
    color: #BFBCB2;
}

.nav-link.p-1{
    color: #FFFFFF;
    display: inline;
}

.list-social-icon{
    list-style: none;
    position: relative;
    right: 30px;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
}

.social-icon{
    font-size: 1.25em;
}

.social-icon a{
    text-decoration: none;
    color: white;
}

.col.mb-3 ul li a:hover{
    color: #FFB900;
    transition: 1s all;
}
