

/* ======================== End logo ===================== */

/* nav btn */
.nav-item:not(:first-child):hover {
    background-color: #DFC580;
    border-radius: 5em;
    padding-left: 0.8em;
    padding-right: 0.8em;

}

/* end nav btn */
/* Blog button */
.dropdown-toggle {
    background-color: #DFC580;
    border-radius: 5em;
    padding-left: 1.2em;
    padding-right: 1.2em;
    
}
/* end blog btn */

