
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900&display=swap');


body{
    margin:0;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

*{
    box-sizing: border-box;
}

.container{
    max-width: 1170px;
    width: 100%;
    margin:auto;
}

.home{
    height: 100vh;
    background-image: url("./Picture/town.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    padding:50px 15px;
    position: relative;
}
.home::before{
    content: '';
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    z-index: -1;
}

.home .home-text{
    text-align: center;
    position: relative;
    z-index: 2;
}

.home .home-text h1{
   color:#ffffff;
   font-size: 50px;
   color:#ffffff;
   line-height: 56px;
   font-weight: 700;
   margin:0 0 20px;
}
.home .home-text p{
   margin:0;
   overflow: hidden;
}
.home .home-text p span{
   font-size: 40px;
   color:#ff2c45;
   font-weight: 700;
   display: inline-block;
   line-height: 46px;
   display: none;
}

.home .home-text p span.text-in{
   display: block;
   animation: textIn 1.5s ease;
}
.home .home-text p span.text-out{
   animation: textOut 1.5s ease;
}
@keyframes textIn{
   0%{
       transform: translateY(100%);
   }
   100%{
       transform: translateY(0%);
   }
}
@keyframes textOut{
   0%{
       transform: translateY(0%);
   }
   100%{
       transform: translateY(-100%);

   }
}

/*  */
.player {
    width: 640px;
    background-color: var(--bg);
    display: grid;
    grid-template-columns: 48px 1fr 48px;
    grid-gap: 16px;
    padding: 8px 24px;
    position: relative;
    border-radius: 64px;
}

.control,#current {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 16px;
}

#playbtn {
    font-size: 24px;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    cursor: pointer;
}

#playbtn:hover {
    -webkit-text-fill-color: white;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    color: #ffffff;
}

#current {
    text-align: right;
    color: #ffffff;
}

.bar {
    --space: -4px;
    background-color: #24242424;
    overflow: hidden;
    left: var(--space);
    right: var(--space);
    top: var(--space);
    bottom: var(--space);
    position: absolute;
    border-radius: 64px;
    z-index: -211;
}

#progress {
    display: blcok;
    width: var(--progress,0%);
    background-color: white;
    transition: all 1s linear;
    height: 100%;
}
.musicZone{
    position: fixed;
    right: 30%;
    bottom: 5%;
}
.buttonBox{
    color: white;
    border: 1px solid white;
    padding: 5px;
    border-radius: 10px;
    position: fixed;
    right: 5%;
    z-index:99;
    bottom: 5%;
    background-color: #ffffff;
}
a{
    color: black;
    text-decoration: none;
}
@media only screen and (max-width: 600px) {
    .musicZone{
        position: fixed;
        left: 10%;
        bottom: 10%;
    }
}







