
/* ================== HEADER ================= */
/* nav btn */
.nav-item:not(:first-child):hover {
    transition: all 0.2s ease-in-out;
    background-color: #DFC580;
    border-radius: 5em;
    padding-left: 0.8em;
    padding-right: 0.8em;
}
a{
    text-decoration: none;
    color:black;
}
/* end nav btn */
/* Blog button */
.dropdown-toggle {
    background-color: #DFC580;
    border-radius: 5em;
    padding-left: 1.2em;
    padding-right: 1.2em;
    color: #151111;
}
/* end blog btn */
/* ================== END HEADER ================= */

.resource-title {
    padding-top: 1.5rem;
}

/* ================= Carousel ================= */
.carousel {
    margin: 1.5rem auto;
}

.carousel .carousel-inner .carousel-item img {
    border-radius: 1rem;
}
.carousel .carousel-inner .carousel-item .carousel-caption {
    background-color: rgba(0, 0, 0, 0.121);
    backdrop-filter: blur(20px);
    padding-left: 1rem;
    padding-right: 1rem;
}
.carousel .carousel-inner {
    border-radius: 1rem;
    overflow: hidden;
}




/* ============ End carousel ============= */
