/* Create CSS FIle  */

/* Hoang's Code */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(255, 255, 255);
}
.col1{
    background-color: #FFFCF4;
    padding: 30px;
}
.imageBanner{
    width: 600px;
    height: 600px;
    border: 3px solid whitesmoke;
    border-radius: 30px;
    box-shadow: 1px 1px 5px 1px rgb(117, 116, 116);
}

@media (max-width: 774px) {
    .imageBanner {
        width: 100%;
        height: auto;
        min-width: 200px;
    }
    .descrip {
        font-size: smaller;
    }
}

.qouteBanner{
    font-size: 1.7rem;
    background: -webkit-linear-gradient(#9f8486, #563302);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.paraBanner{
    padding-right: 30px;
    margin-top: 30px;
    opacity: 0.7;
}
.buttonBanner{
    display: flex;
    width: 500px;
    margin: auto;
    margin-top: 150px;
}
hr{
    padding: 20px;
    visibility: hidden;
}
.buttonBannerDes{
    width: 200px;
    margin: auto;
    display: flex;
    text-align: center;
    justify-content: center;
    border-radius: 20px;
    border: 3px solid rgb(240, 240, 240);
}
#greyborder{
    border: 3px solid rgb(224, 224, 224);
}
.boxPicDes{
    position: relative;
    width: 100%;
    height: auto;
    margin: auto;
    
}
.boxPic{
    margin: auto;
    width: fit-content;
    height: fit-content;
    border: 2px solid black;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 2px 1px 1px 2px rgb(179, 179, 179);

}

@media (max-width: 774px) {
    .boxy {
        display: flex!important;
        flex-direction: column !important;
        justify-content: center !important;
    }
    .backgr {
        width: 100% !important;
        height: auto !important;
    }
}

.backgr{
    width: 250px;
    height: auto;
    padding: 30px;
    transition: width 0.2s ease-out;
}
.buttonDesbox{
    margin-left: 70%;
    margin-bottom: 20px;
}

.paraBox{
    width:100%;
    padding: 10px;
    font-size: 0.9rem;
}
.headDes{
    margin-left: 10px;
}

/* ====== COMMUNITY =========== */
.sectionButton{
    width: 200px;
    height: auto;
    margin-left: 40%;
}
.avatarLogo{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: auto;
}
.usernameDes {
    padding-left: 0.7em;
}
.avatarDisplay{
    display: flex;
    
    align-items: center;
}

.col2{
    margin-right: 10px;
    background-color: #FFFCF4;
    padding: 10px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 1px 3px 1px 3px rgb(79, 77, 77);
    transition: padding 0.2s ease-out;

}
.col2:hover{
    box-shadow:1px 1px 1px 1px  #563302;
    padding: 20px;
    color: white;
    background-color: #946D06;
}

.row2{
    background-color: #946D06;
    width: 100vw;
    height: 35rem;
    margin: auto;
    padding-top: 2.5rem;
    
    display: flex;
    flex-direction: column;

}

@media (max-width: 1200px) {
    .row2 {
        height: max-content;
        padding-bottom: 3em;
        min-width: 380px;
    }
    .commuRow {
        flex-direction: column;
        width:100%;
    }
    .col2 {
        margin: 0;
        padding-bottom: 0.6em;
        margin-bottom: 0.3em;
    }
   

}
.colContentBox1
.textCenter{
    text-align: center;
    padding-bottom: 20px;
    background: -webkit-linear-gradient(#cbe0f5, #fefefe);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.section4{
    background-color:#ffffff
}

.imgDes1{
    width: 200px;
    margin-top: 40px;
    margin-left: 50px;
    border-radius: 15px;
    margin-right: 10px;
}
.imgDes2{
    width: 200px;
    border-radius: 15px;
}
.colContentBox1{
    margin-top: 30px;
    margin-right: 100px;
}
.colContentBox2{
    margin-left: 50px;
    margin-top: 30px;
}
@media (max-width: 780px) {
    .colContentBox1{
        margin-right: 3em;
    }
    .colContentBox2{
        margin-left: 2em;
    }
    .toTheTop {
        display: inline-block;
        min-width: 113px;
    }
}
.formLDP{
    margin-top: 50px;
    width: 800px;
    margin: auto;
    padding: 30px;
    border-radius: 66px;
    background: linear-gradient(145deg, #856205, #9e7506);
    box-shadow:  33px 33px 67px #705305,
             -33px -33px 67px #b88707;
}
.sectionForm{
    background-color: #946D06;
    padding: 80px;
    height: auto;
}
.textLDP{
    color: white;
}
.textLDP2{
    color: white;
    width: 500px;
    margin: auto;
    padding-bottom: 30px;
}

/* ==FOOTER */
.footerFormat{
    background-color: #2E2100;
    padding: 30px;
}
.formContact{
    width: 200px;
    margin: auto;
}

/* Berdy's Code */
/* ================== HEADER ================= */
/* nav btn */
.nav-item:not(:first-child):hover {
    transition: all 0.2s ease-in-out;
    background-color: #DFC580;
    border-radius: 5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}
a{
    text-decoration: none;
    color:black;
}
/* end nav btn */
/* Blog button */
.dropdown-toggle {
    background-color: #DFC580;
    border-radius: 5em;
    padding-left: 1.2em;
    padding-right: 1.2em;
    color: #151111;
}
/* end blog btn */
/* ================== END HEADER ================= */

.col3{
    padding-bottom: 30px;
}
.toTheTop{
    padding: 5px;
    border: 3px solid rgb(193, 193, 193);
    background-color: #FFB900;
    text-decoration: none;
    color: black;
    border-radius:15px;

}
.toTheTop2{
    margin-top: 30px;
    margin-left: 90%;
    padding: 5px;
    border: 3px solid rgb(193, 193, 193);
    background-color: #FFB900;
    text-decoration: none;
    color: black;
    border-radius:15px;
}
.toTheTop2:hover{
    color: #cbe0f5;
    background-color: #2E2100;
    border-radius: 20px;
    border: 1px solid white;
    box-shadow: 1px 2px 1px 2px rgb(7, 6, 6);
}
.toTheTop:hover{
    color: #151111;
    background-color: #2E2100;
    color: #FFFFFF;
}
.row3{
    background-color: #ffffff;
    border-radius: 15px;
}




/* Minh's Code */
.footer-container{
    width: 100%;
    height: auto;
    background-color: #151111;
}

.container3{
    background-color: #2E2100;
    width: 100%;
    margin: auto;
}

.bnt-backtotop{
    border: solid 1px black;
    width: 210px;
    height: 52px;
    border-radius: 30px;
    position: relative;
    left: 46%;
    top: 5%;
    background-color: #FFB900;
    text-align: center;
    cursor: pointer;
}

.bnt-backtotop h5{
    line-height: 45px;
}
.col.mb-3{
    color: #FFFFFF;
}
.col.mb-3 h5{
    color: #FFFFFF;
    font-weight: 600px;
    font-size: 16px;
    line-height: 28px;
}

.nav-link.p-0{
    color: #BFBCB2;
}

.nav-link.p-1{
    color: #FFFFFF;
    display: inline;
}

.list-social-icon{
    list-style: none;
    position: relative;
    right: 30px;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
}

.social-icon{
    font-size: 1.25em;
}

.social-icon a{
    text-decoration: none;
    color: white;
}
@media screen and (max-width: 1401px) {
    .boxPic {
     width: 350px;
     margin: auto;

    }
  }
  @media screen and (max-width: 1201px) {
    .boxPic {
     width: 120%;
     margin: 10px;
    }

  }
  @media screen and (max-width: 769px) {
    .boxPic {
     width: 100%;
     margin: 30px;

    }

  }
